.movie-card {
	padding: 2rem;
	margin: auto;
	display: grid;
	grid-row: span 2;
	grid-template-rows: subgrid;
	gap: 1rem;
}

img {
	margin: auto;
	height: 300px;
}

.movie-card:hover {
	background-color: rgb(72, 160, 131);
}
